.cardContainer2 {
  margin: auto;
  width: 80%;
  height: 75px;
  display: flex;
  justify-content: center;
}
.card2 {
  width: 100%;
  background-image: linear-gradient(
    to right,
    rgba(169, 106, 43, 0.59),
    rgba(227, 8, 227, 0.429)
  );
  height: 70px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  top: 20px;
}
.info {
  width: 500px;
  height: 70px;

  text-align: center;
  background-image: linear-gradient(
    to right,
    rgba(169, 106, 43, 0.59),
    rgba(227, 8, 227, 0.429)
  );
  position: relative;
  top: 20px;
  border-radius: 20px;
  /* margin-bottom: 20px; */
  background-color: linear-gradient(to right, orange, purple);
}
