.header {
  height: 15vh;
  background-image: linear-gradient(
    to right,
    rgb(119, 0, 255),
    rgba(227, 8, 227, 0.429)
  );
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 25px;
}

.logo {
  position: absolute;
  left: 20px;
}
