.main {
  width: 50%;
  height: 160px;
  background-color: limegreen;
  margin: 50px auto;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

.main img {
  width: 100px;
}
